<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Система сотрудников{% endblock %}</title>

        <!-- Базовые стили -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <!-- Блок для дополнительных стилей -->
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <header>
            <p>🏢 Система управления сотрудниками</p>
        </header>
        <main>
            {% block content %}
                Контента пока нет :{
            {% endblock %}
        </main>
        <footer>
            <p>© 2025 Система управления сотрудниками.</p>
        </footer>
    </body>
</html>