{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/employee/employee_details.css' %}">
{% endblock %}

{% block content %}
    <h1>Подробная информация о сотруднике</h1>

    <div>
        {% if images %}
            <h2>Галерея изображений</h2>
            <div class="gallery-container">
                {% for image in images %}
                    <div class="gallery-item">
                        <img src="{{ image.image.url }}"
                             alt="Изображение сотрудника {{ emp.username }}" />
                             <p class="image-order">Изображение номер: {{ image.order }}</p>
                             <small class="image-date">Добавлено:
                                 {{ image.created_at|date:"d.m.Y H:i" }}</small>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-images">Нет изображений в галерее</p>
        {% endif %}

        <!-- Кнопки для сортировки -->
        <div class="sort-buttons">
            <a href="?sort=asc" class="btn {% if current_sort == 'asc' %}active{% endif %}">
                Сначала старые
            </a>
            <a href="?sort=desc" class="btn {% if current_sort == 'desc' %}active{% endif %}">
                Сначала новые
            </a>
        </div>


        <div class="employee-info">
            <p><strong>Username:</strong> {{ emp.username }}</p>
            <p><strong>Email:</strong> {{ emp.email }}</p>
            <p><strong>Имя:</strong> {{ emp.first_name }}</p>
            <p><strong>Фамилия:</strong> {{ emp.last_name }}</p>
            <p><strong>Пол:</strong> {{emp.gender}}</p>
            {% if emp.description %}
                <p><strong>Описание:</strong> {{ emp.description }}</p>
            {% endif %}
        </div>
    </div>

    <div class="sort-buttons">
        <a href="{% url 'employees:list' %}" class="btn back-btn">Назад к списку</a>
    </div>
    <!-- app_name:name='list' (из employees/urls) -->
{% endblock %}